{{ if .Site.Params.homepage.showResume | default false }}
  {{ $resumePage := .Site.GetPage "/resume/" }}
  {{ if $resumePage }}
    <h2 class="mt-8 text-2xl font-extrabold mb-10">{{ i18n "shortcode.resume_articles" | default "Resume" | emojify }}</h2>
    <section class="prose dark:prose-invert">
      {{ $resumePage.Content | markdownify }}
    </section>
    {{ if .Site.Params.homepage.showMoreLink | default false }}
      <div class="mt-10 flex justify-center">
        <a href="/resume/">
          <button class="bg-transparent hover:text-primary-500 prose dark:prose-invert font-semibold hover:text-white py-2 px-4 border border-primary-500 hover:border-transparent rounded">
            {{ i18n "recent.show_more" | default "Show More Resume" | markdownify }}
          </button>
        </a>
      </div>
    {{ end }}
  {{ else }}
    <p>No resume page found.</p>
  {{ end }}
{{ end }}